h1{
    text-align: center;
    font-weight: bolder;
    color: firebrick;
    animation: special 4s infinite alternate;
    background-color: aqua;
    padding: 5px;
    border: 3px solid;
    border-radius: 15px;
}
@keyframes special {
    0% {color: aqua; background-color: firebrick;}
    100% {color: firebrick; background-color: aqua;}
}
div{
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}
#rndm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 350px;
    text-align: center;
}
#btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    background-color: rgb(134, 255, 174);
    width: 150px;
}
#btn:hover{
    background-color: rgb(251, 104, 104);
}
#btn:active{
    width: 140px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
#getoutput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 350px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    div{
        width: auto;
        height: auto;
    }
    #rndm,#getoutput{
        width: 200px;
    }
}
